<!DOCTYPE HTML>
<html lang="zh-CN">
<head>
<meta charset="UTF-8">
<title><%= htmlWebpackPlugin.options.title %></title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta name="baidu-site-verification" content="wczeFssEiy" />
<meta http-equiv="Cache-Control" content="no-transform " /> 
<meta http-equiv="Cache-Control" content="no-siteapp" />
</head>


<body>
	<div id="test">
		这是关于我们页面
	</div>
	<div>
		 <a href="list.html">链接</a>
		 <button id="btn" onclick="add()" >点击</button>
		 <img src="../images/1.jpg" />
	</div>
</body>
</html>
